@import "../../variables.scss";

td {
  padding: 12px 25px;
  background-color: $primary-color;
  color: $secondary-color;
}

.cart-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.cart {
  min-width: 600px;
}

.container-cart {
  margin: 40px 0;
}

.container-btn-cart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.cart-table-flex {
  display: flex;
  /* justify-content: space-around; */
  /* align-items: center; */
  margin-top: 8px;
  margin-bottom: 8px;
  flex-direction: column;
}

.img-cart {
  max-width: 100px;
}

.btn-link-container {
  margin-bottom: 20px;
}

%btn-qty {
  width: 30px;
  height: 30px;
  margin: 5px;
  text-align: center;
  border: none;
  border-radius: 0%;
  background-color: $gray-color;
}

.btn-qty {
  @extend %btn-qty;
}

.span-qty {
  @extend %btn-qty;
  background-color: transparent;
}

.price-qty {
  font-size: medium;
  font-weight: 600;
}

@media (max-width: 768px) {
  td {
    padding: 0;
    padding-right: 6px;
  }

  .table-header {
    padding: 10px 0 4px 0;
  }
}
