//variables -------------------------------------
@import "../../variables.scss";


.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.card-border {
  border-color: $gray-color;
}

.btn-link-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
}




