
Meta {
    font-size: 24px,
}

.container-product-detail {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
   
}

.image-detail img {
    width: 100%;
}



.product-detail {
    /* Agrega estilos adicionales según sea necesario */
  }
