@import "../../variables.scss";

// .container-product-detail {
//     display: flex;
//     justify-content: space-between;
//     align-items: flex-start;
//     gap: 10px;
//     padding: 10px;

// }

// .image-detail img {
//     width: 100%;
// }

// .product-detail {
//     /* Agrega estilos adicionales según sea necesario */
//   }

//---------------------------------------------

%card-product {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
  min-height: 350px;
  //width: 300px;
  //gap: 35px;
 // border: 1px solid #555555;
  //border-radius: 5px;
}

.card-product-col {
  @extend %card-product;
}

.card-detail {
  @extend %card-product;
  justify-content: initial;
  gap: 20px;
}

.card-content-row {
  @extend %card-product;
  flex-direction: row;
}

.nav-back {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #555555;
  padding: 5px;
  gap: 25px;
  margin-bottom: 10px;
  width: 100%;
}

.image-detail {
  max-width: 500px;
  //border: 1px solid #555555;

  & img {
    width: 100%;
  }
}

.product-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  text-align: initial;
 // border: 1px solid #555555;
  max-width: 500px;
  padding: 5px;
}

.div-btn {
  display: flex;
  gap: 15px;
  //border: 1px solid #555555;
  width: 500px;
  padding: 5px;
}

.btn-wish {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  gap: 15px;
  border: 1px dashed #555555;
}

.btn-cart-detail{
  
}

.heart {
  font-size: 20px;
}
