@import "../../variables.scss";


h1 {
  color: $gray-dark-color;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

#container-contact {
  max-width: 600px;
  margin: 60px auto;
  position: relative;
}

.container-flex {
  display: flex;
    justify-content: space-around;
    align-items: center;
}


.contact {
  input {
    line-height: normal;
  }

  input[type="text"],
  input[type="email"],
  select,
  textarea {
    background: none;
    border: none;
    border-bottom: solid 2px $gray-dark-color;
    color: $gray-dark-color;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    width: 100%;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    outline: none;
    padding: 0 0 0.875em 0;
  }

  select::-ms-expand {
    display: none;
  }

  textarea {
    overflow: auto;
    line-height: 150%;
    height: 150px;
    resize: none;
    width: 100%;
  }



}


.form-contact {
  margin: 40px 0;
}

.name {
  float: left;
  width: 45%;
}

.email {
  float: right;
  width: 45%;
}

.msg-contact {
  float: none;
}

.msg-contact h3 {
  font-weight: normal;
  font-size: 12px;
  font-style: italic;
  margin-top: -20px;
  margin-bottom: 20px;
  text-align: start;
}

:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: $gray-dark-color;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }

  .underline {
    width: 68px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }

  .contact input[type="text"],
  [type="email"],
  select,
  textarea {
    font-size: 0.875em;
  }
}
