@import "../../variables.scss";

.contact input {
  line-height: normal;
}

.contact textarea {
  overflow: auto;
}

.container-flex {
  display: flex;
    justify-content: space-around;
    align-items: center;
}

#container-contact {
  max-width: 600px;
  margin: 60px auto;
  position: relative;
}

.form-contact {
  padding: 37.5px;
  margin: 50px 0;
}

h1 {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.email {
  float: right;
  width: 45%;
}

.contact input[type="text"],
[type="email"],
select,
textarea {
  background: none;
  border: none;
  border-bottom: solid 2px #474544;
  color: #474544;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  //text-transform: uppercase;
  width: 100%;
}

//para que no aparezca el borde al clicar:
.contact input[type="text"]:focus,
[type="email"]:focus,
textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
}

.contact select::-ms-expand {
  display: none;
}

.contact textarea {
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 100%;
}

//---------------

.msg-contact {
  float: none;
}

.msg-contact h3 {
  font-weight: normal;
  font-size: 12px;
  font-style: italic;
  margin-top: -20px;
  margin-bottom: 20px;
  text-align: start;
}

.name {
  float: left;
  width: 45%;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

:-moz-placeholder {
  color: #474544;
  opacity: 1;
}

::-moz-placeholder {
  color: #474544;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #474544;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }

  .underline {
    width: 68px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }

  .contact input[type="text"],
  [type="email"],
  select,
  textarea {
    font-size: 0.875em;
  }
}
