@import "../../variables.scss";

.footer {
  border-top: $gray-color 1px solid;
  padding-top: 12px;
  color: $gray-dark-color;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media (min-width: 768px) {
    flex-direction: row; /* Cambia de nuevo a fila para pantallas más grandes */
    align-items: baseline;
  }
}

.footer p {
  padding: 0;
}
.footer-by {
  font-size: 0.9em;
}

.follow-icons {
  font-size: xx-large;
  color: $gray-color;
  padding: 5px;
}


.footer-link{
color: $gray-dark-color;
font-weight: 400;

}
