@import "../../variables.scss";

.footer {
  border-top: $gray-color 1px solid;
  color: $gray-dark-color;

  .header-content-logo {
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
  }

  h4 {
    margin: 0.5rem 0;
  }

  p {
    margin: 5px;
    padding: 0;
  }

  &-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-content: center;
    align-items: center;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: start;
      padding-top: 10px;
    }
  }

  &-by {
    font-size: 0.9em;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .follow-icons {
    font-size: xx-large;
    color: $gray-color;
    padding: 5px;
  }

  &-link {
    color: $gray-dark-color;
    font-weight: 400;
  }
}
