@import "./variables.scss";

#root {
  max-width: 1920px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;

  display: grid;
  grid-template-rows: 1fr auto; /* 1fr para el contenido principal, auto para el footer //FIXME: el contenido por debajo de header se queda muy bajo y el nav muy grande */ 
  min-height: 100vh; /* Establece el alto mínimo de la vista */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
