@import "./variables.scss";

#root {
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;

  display: grid;
  grid-template-rows: auto 1fr auto; 
  min-height: 100vh; 
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.container-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 20px 40px 20px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
