$primary-color: white;
$secondary-color: black ;
$complementary-color: #e7c249;
$complementary-dark-color: #c5a027;
$gray-color: rgba(187, 187, 187, 0.945);
$gray-dark-color: rgba(88, 88, 88, 0.945);

