@import "./variables.scss";

:root {

  // grid-template-rows: unset;
  // align-content: space-between;
  // align-items: start;

  font-family: $primary-font;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $primary-color;
  background-color: $black-light-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  :root {
    color: $secondary-color;
    background-color: $primary-color;
  }
  a:hover {
    color: $complementary-color;
  }
  // button {
  //   background-color: #f9f9f9;
  // }
}

@media (max-width: 768px) {
  .btn {
    &-hover-line {
      background: transparent;
      border: none;
      padding: 1em 1.5em;
      color: $primary-color;
      position: relative;
      transition: 0.5s ease;
    }
  }
}

a {
  font-weight: 500;
  color: $complementary-dark-color;
  text-decoration: inherit;
}
a:hover {
  color: $complementary-color;
}

// body {
//   margin: 0;
//   //display: flex;
//   //place-items: column;
//   min-width: 320px;
//   min-height: 100vh;
// }

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

//---------------------

.title {
  letter-spacing: 2px;
  font-family: $secondary-font;
  font-weight: 400;
  text-transform: uppercase;
}

// BUTTONS -------------------------------

//Black button
%btn-black {
  width: 110px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(15, 15, 15);
  border: none;
  border-radius: 0%;
  color: $primary-color;
  font-family: $secondary-font;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;

  &::before {
    width: 110px;
    height: 130px;
    position: absolute;
    content: "";
    background-color: $primary-color;
    border-radius: 50%;
    left: -100%;
    top: 0;
    transition-duration: 0.3s;
    mix-blend-mode: difference;
  }

  &:hover::before {
    transition-duration: 0.3s;
    transform: translate(100%, -50%);
    border-radius: 0;
  }

  &:hover {
    color: $primary-color;
    background-color: $black-light-color;
  }

  &:active {
    transform: translate(5px, 5px);
    transition-duration: 0.3s;
  }
}

.btn-black {
  @extend %btn-black;
}

.btn-details {
  @extend %btn-black;
  width: 80px;
  &::before {
    width: 80px;
  }
}

//Profile button

.btn-profile {
  @extend %btn-black;
  width: 80px;
  &::before {
    width: 80px;
  }
}

//Hover line button

.btn {
  &-hover-line {
    font-size: medium;
    font-weight: 600;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    position: relative;
    transition: 0.5s ease;
  }

  &-hover-line::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: $complementary-color;
    transition: 0.5s ease;
  }

  &-hover-line:hover::before {
    width: 100%;
  }
}

/* -------- */
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  object-fit: cover;
  margin-right: 10px;
}
