@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,100;1,600&display=swap');
$primary-color: white;
$secondary-color: black ;
$black-light-color:#303030;
$complementary-color: #e7c249;
$complementary-dark-color: #c5a027;
$gray-color: rgba(187, 187, 187, 0.945);
$gray-dark-color: rgba(109, 109, 109, 0.945);

$primary-font:  Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$secondary-font:  "Poppins", sans-serif;
